hexo/*
!hexo/_config.yml
!hexo/package.json
!hexo/source/
!hexo/source/**
!hexo/themes/
!hexo/themes/reconstructed/
!hexo/themes/reconstructed/**
hexo/themes/xoxo/
!hexo/tools/
!hexo/tools/**
hexo/.deploy_git/
hexo/node_modules/
hexo/public/
hexo/source/.vscode/
**/node_modules/
.vscode/
